.inputrole-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.inputrole-box input {
  width: 150px;             /* ความกว้างเท่ากัน */
  height: 23px;
  padding: 0 10px;
  border-radius: 10px;
  
  font-size: 14px;
}

.white-team {
  border: 2px solid #333;
  background-color: #ffffff;
}
.black-team {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #000000;
}
.goat-team {
  border: 2px solid #ffffff;
  background-color: #999999;
}

.white-team::placeholder {
  color: #000000;
}
.black-team::placeholder {
  color: #ffffff;
}
.goat-team::placeholder {
  color: #000000;
}

.inputrole-box button {
  
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(140, 211, 178);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
