.card-container {
  padding-top: 10px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center; /* จัดกลางแนวนอน */
  align-items: center; /* จัดกลางแนวตั้ง */

  transition: transform 0.25s ease, box-shadow 0.25s ease;

  margin-bottom: 10px;
}

.ccard {
  width: 120px;
  height: 170px;
  perspective: 1000px;
  cursor: pointer;
}

.ccard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.ccard-inner.flip {
  transform: rotateY(180deg);
}

.ccard-front,
.ccard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: white; */
  color: black;
}

.ccard-front {
  background-color: rgb(0, 0, 0);
  color: white;
}
.ccard-back {
  background-color: rgb(183, 184, 185);
  transform: rotateY(180deg);
}

.start-btn {
  
  padding: 8px 16px;
  /* border-radius: 8px; */
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}