.alive-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: rgb(231, 69, 69);
}

.whitesheep-alivebox {
  
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blacksheep-alivebox {
 
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goat-alivebox {
  
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px; /* 🔥 ระยะห่างระหว่างปุ่ม */
}
.modal-actions button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.modal-actions button:first-child {
  background-color: #4caf50; /* เขียว */
  color: white;
}

.modal-actions button:last-child {
  background-color: #f44336; /* แดง */
  color: white;
}

.modal-goatpopup {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.modal-goatpopup input {
  margin-bottom: 15px;
  text-align: center;
}
