.random-button {
  background-color: rgb(230, 117, 117);
  color: aliceblue;
  border: none;
  outline: none;
  width: 80px;
  height: 25px;
  /* border-radius: 5px; */
}

.list-content {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-bottom: 10px;
}

.list-content-member,
.list-content-role {
  font-size: 13px;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 50px; /* บังคับความกว้างเท่ากัน */
}

.list-content-member {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.list-content-role {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.list-content p{
  margin: 0;
}