.random-button{
  background-color: rgb(230, 117, 117);
  color: aliceblue;
    border: none;
    outline: none ;
    width: 80px;
    height: 25px;
    /* border-radius: 5px; */
}

.list-content{
  color: black;
}