.topic-content {
   display: flex;
   justify-content: center;  /* จัดกึ่งกลางแนวนอน */
  align-items: center;
  margin: 20px auto;  
   
}

.topic-white{
  color: black;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 10px;

}

.topic-black{
  color:#ffffff;
  border: 2px solid #000000;
  background-color: #000000;
  padding: 10px;

}

.topic-goat{
  color: black;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 10px;
}